@model MVCTutorial.Models.LoginViewModel
@{
	ViewBag.Title = "Login";
	Layout = null;
}
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

<div class="container d-flex justify-content-center align-items-start" style="min-height: 100vh;">
    <form id="myForm" style=" text-align:center; width:40%; margin-top:20px;">
        <h2 style="text-align-center">Login</h2>
        <div class="form-group">

            <div class="col-md-12 mb-3">
                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.EmailId, "")
            </div>

            <div class="col-md-12 mb-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "")
            </div>

            <div class="col-md-12 mb-3">
                <a href="#" class="btn btn-primary" onclick="LoginUser()">Submit</a>
            </div>

            <div class="col-md-12 text-center mt-3">
                <p>Ainda não tem uma conta? <a href="/Teste/Registration" class="btn btn-link">Crie aqui</a></p>
            </div>
        </div>
    </form>
</div>

@Html.Partial("_footer");

<script>
    var LoginUser = function(){
        var data = $("#myForm").serialize();
        
        if(!$("#myForm").valid())
        {
            return false;

        }

        $.ajax({
            type: "POST",
            url:"/Teste/LoginUser",
            data: data,
            success: function(response){
                if (response == 'Fail') {
                alert("Please Enter validate data");
                window.location.href="/Teste/Login"
                }else if (response == "Admin"){
                    window.location.href="/Teste/DeleteEmployee" //redirecionando pras paginas admin
                }else{
                    window.location.href="/Teste/Index" //redirecionando pras paginas user default
                }
            }
         });
    }
</script>

