@model MVCTutorial.Models.EmployeeViewModel;

@{
    ViewBag.Title = "Menu";
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>

<div class="d-flex justify-content-center align-items-center">
    <ul class="d-flex list-unstyled gap-3">
        <li><a href="/Menu/Menu">Home</a></li>
        <li><a href="/Auth/Login">Login</a></li>
        <li><a href="/Auth/Registration">New Register</a></li>
    </ul>
</div>

<div>
    AutoComplete TextBox
    <input type="text" class="form-control" id="textAutoComplete" placeholder="Digite aqui ..." />
</div>

<div class="d-flex justify-content-center align-items-center">
    <p>Deseja enviar um Email<a href="/Email/Index" class="btn btn-link">Clique Aqui</a></p>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Search here" })
        <table class="table table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    DepartmentName
                </th>
                <th>
                    Address
                </th>
            </tr>
            <tbody id="employeeRow">
                <tr>
                    @if (ViewBag.EmployeeList != null)
                    {
                        foreach (var item in ViewBag.EmployeeList)
                        {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.DepartmentName</td>
                            <td>@item.Address</td>
                        </tr>

                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <p>Acesse ao DropDown <a href="/Menu/Dropdown" class="btn btn-link">StateCountry</a></p>
</div>

<div class="d-flex justify-content-center align-items-center">
    <p>Acesse My Shop<a href="/Shop/Index" class="btn btn-link">CheckBoxList</a></p>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 15vh;">
    <p>Deseja anexar uma foto?<a href="/Image/Index" class="btn btn-link">Anexe aqui</a></p>
</div>

<footer>
    @Html.Partial("_footer")
</footer>

<script>
    $(document).ready(function() {
        $("#textAutoComplete").autocomplete({
            source: function(request, response){
                $.ajax({
                    type: "GET",
                    url: "/Menu/GetSuggestion",
                    data: { text: request.term },
                    success: function(data){
                        response($.map(data, function(item){
                            return { label: item, value: item };
                        }));
                    }
                });
            }
        });
    })

    $("#Name").on("input", function() {
        var searchText = $(this).val();

        $.ajax({
            type: "GET",
            url: "/Menu/GetSearchRecord",
            data: { SearchText: searchText },
            success: function(response) {
                $("#employeeRow").html(response);
            }
        });
    });
</script>
