@model MVCTutorial.Models.EmployeeViewModel;

@{
    ViewBag.Title = "Menu";
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="/js/uploadImage.js"></script>


<style>
    #targetImg {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    }
</style>

<div class="d-flex justify-content-center align-items-center">
    <ul class="d-flex list-unstyled gap-3">
        <li><a href="/Menu/Menu">Home</a></li>
        <li><a href="/Auth/Login">Login</a></li>
        <li><a href="/Auth/Registration">New Register</a></li>
    </ul>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Search here" })
        <table class="table table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    DepartmentName
                </th>
                <th>
                    Address
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tbody id="employeeRow">
                <tr>
                    @if (ViewBag.EmployeeList != null)
                    {
                        foreach (var item in ViewBag.EmployeeList)
                        {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.DepartmentName</td>
                            <td>@item.Address</td>
                            <td><a href="#"><i class="fas fa-eye"></i>View</a></td>
                        </tr>

                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <p>Acesse ao DropDown <a href="/Menu/Dropdown" class="btn btn-link">StateCountry</a></p>
</div>

<div class="d-flex justify-content-center align-items-center">
    <p>Acesse My Shop<a href="/Shop/Index" class="btn btn-link">CheckBoxList</a></p>
</div>

<div class="d-flex justify-content-center align-items-center" style="margin-bottom: 60px;">
    <div class="col-md-6" style="text-align: center;">
        <div>
            Opção de anexar Fotos
        </div>

        <div class="btn btn-primary">
            <input type="file" id="imageBrowse" />
        </div>

        <div id="imgPreview" class="img-thumbnail" style="display: none">
            <img class="img-responsive" id="targetImg" />
            <div class="caption">
                <a href="#" id="clearIcon" onclick="ClearPreview()"><i class=" fas fa-trash-alt"></i></a>
                <span id="description"></span>
            </div>
            <button class="btn btn-secondary" onclick="UploadImage()">Upload</button>
            <div class="col-md-2 img-thumbnail" id="UploadedImage">
            </div>
        </div>
    </div>
</div>

<footer>
    @Html.Partial("_footer")
</footer>

<script>
    $("#imageBrowse").change(function(){
        var file = this.files;
        if(file && file[0]){
            ReadImage(file[0])
        }
    });

    var ReadImage = function(file){
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function(_file){
            image.src= _file.target.result;
            image.onload = function(){
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = (file.size / 1024).toFixed(2) + " KB";

                $("#targetImg").attr('src',_file.target.result);
                $("#description").text("Size: "+size+","+height+"X"+width+","+type+"");
                $("#imgPreview").show();
            }
        }
    }

    var ClearPreview = function(){
        $("#imageBrowse").val('');
        $("#description").text('');
        $("#imgPreview").hide();
    }

    var UploadImage = function () {
        var file = $("#imageBrowse")[0].files[0];
        var data = new FormData();
        data.append("ImageFile", file);

        $.ajax({
            url: '/Menu/UploadImage',
            type: 'POST',
            data: data,
            contentType: false,
            processData: false,
            success: function(response) {
                if (response.imgID) {
                    $("#UploadedImage").html('<img src="/Menu/ImageRetrieve?imgID=' + response.imgID + '" class="img-responsive thumbnail" />');
                } else {
                    alert("Upload failed!");
                }
            },
            error: function() {
                alert("An error occurred during the upload.");
            }
        });
    };

    $("#Name").on("input", function() {
        var searchText = $(this).val();

        $.ajax({
            type: "GET",
            url: "/Menu/GetSearchRecord",
            data: { SearchText: searchText },
            success: function(response) {
                $("#employeeRow").html(response);
            }
        });
    });
</script>
